version: '3'

services:
  mavp2p:
    build: vmc/mavp2p
    command: tcps:0.0.0.0:5790 udpc:127.0.0.1:14541 --print-errors
    restart: unless-stopped

  mqtt:
    image: docker.io/library/eclipse-mosquitto:2.0.11
    ports:
      - "18830:18830"
    restart: unless-stopped
    volumes:
      - ./vmc/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf

  fcc:
    depends_on:
      - mqtt
    build: vmc/flight_control_module
    # https://stackoverflow.com/a/43541732
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

  pcc:
    depends_on:
      - mqtt
    build: vmc/peripheral_control_module
    restart: unless-stopped

  vio:
    depends_on:
      - mqtt
    build: vmc/vio_module
    restart: unless-stopped

  # sandbox:
  #   depends_on:
  #     - mqtt
  #   build: vrc_sandbox
  #   restart: unless-stopped